@import "~antd/dist/antd.css";
@import "spaces.css";

.full-width {
  width: 100%;
}

.blue {
  color: #5bb7db;
}

.green {
  color: #60b044;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
